*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variables */

:root {
  --primary: rgba(25, 208, 104, 0.8);
  --secondary: rgb(18, 16, 20);
  --accent: rgb(206, 206, 206);
  --text-color: rgb(2, 2, 2);
}

/* nav */

nav {
  padding: 25px 35px;
}

/* header */

header {
  background-image: url(https://cnbl-cdn.bamgrid.com/assets/38ce8415b8fcb6b53a1bd080667195431f280bf5c15abb399dd818134f181e48/original);
  height: 700px;
  object-fit: cover;
}
.logo {
  width: 60px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.login-btn {
  width: 80px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  color: rgb(225, 218, 218);
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
}
.login-btn:hover {
  background-color: rgba(103, 101, 101, 1);
}

/* subscription plans */

.subscription-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 80px;
  column-gap: 20px;
  text-align: center;
}
.subscribe-title {
  color: var(--primary);
  font-size: 13px;
  font-weight: bold;
}
.subscription-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  height: 100px;
}
.subscribe-btn {
  background-color: var(--primary);
  border-radius: 3px;
  border: none;
  padding: 12px 130px;
  color: var(--text-color);
  font-weight: bold;
}
.subscribe-text {
  font-size: 26px;
  color: var(--accent);
  font-weight: bold;
}
.subscribe-link-container {
  display: flex;
  justify-content: center;
}
.subscribe-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
  gap: 30px;
}
.subscribe-link > a,
.subscribe-link.view-plans {
  color: var(--accent);
}
div[class="arrow"] {
  border: 1px solid var(--accent);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}
p[class="subscribe-link"] a {
  font-size: 13px;
}
.subscribe-link.view-plans {
  text-decoration: none;
}

/* custom plan */

.custom-plan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 150px;
  background-image: linear-gradient(
    to top,
    rgb(34, 80, 57) 20%,
    rgb(41, 156, 97) 80%
  );
}
.custom-plan-btn {
  border: 3px solid var(--accent);
  background-color: transparent;
  width: 280px;
  height: 40px;
  border-radius: 3px;
  color: var(--accent);
  font-weight: bold;
}
.custom-plan-btn:hover {
  background-color: rgb(213, 211, 211);
  color: var(--secondary);
}
.custom-plan > .custom-plan-title {
  color: var(--accent);
  font-size: 19px;
  font-weight: bold;
}

/* tv shows grid */

.main-container {
  background-color: var(--secondary);
  padding: 80px 50px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}   
.intro-texts > p {
  font-size: 18px;
  font-weight: bold;
}
.intro-texts {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.intro-text {
  color: var(--primary);
  text-align: center;
}
h1[class="intro-text"] {
  color: var(--accent);
  font-weight: bold;
  font-size: 44px;
}
.tv-show{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.tv-show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.tv-show > img{
    width: 300px;
    border-radius: 10px;
    opacity: .7;
}
.tv-show > img:hover{
    border: 5px gray solid;
    border-radius: 10px;
}
